In [1]:
import pandas as pd
import time

Import officer-involved fatality data from WaPo Github repo

In [29]:
fatalities = pd.read_csv('https://raw.githubusercontent.com/washingtonpost/data-police-shootings/master/fatal-police-shootings-data.csv')

Concatenate 'city' and 'state' values into a location name that can be geocoded

In [30]:
fatalities['location'] = fatalities[['city', 'state']].apply(lambda x: ', '.join(x), axis=1)

Read unique locations into a list

In [31]:
locations = []

for i in fatalities.location.unique():
    locations.append(i)

Convert to pandas series object

In [32]:
locations = pd.DataFrame(locations)

In [33]:
locations

                          0
0               Shelton, WA
1                 Aloha, OR
2               Wichita, KS
3         San Francisco, CA
4                 Evans, CO
5               Guthrie, OK
6              Chandler, AZ
7               Assaria, KS
8            Burlington, IA
9             Knoxville, PA
10             Stockton, CA
11             Freeport, TX
12             Columbus, OH
13           Des Moines, IA
14          New Orleans, LA
15              Huntley, MT
16       Salt Lake City, UT
17               Strong, AR
18             Syracuse, UT
19              England, AR
20              El Paso, TX
21               Arcola, IL
22           South Gate, CA
23      North Las Vegas, NV
24          Albuquerque, NM
25           Jourdanton, TX
26             St. Paul, MN
27      Franklin County, MO
28           Chesapeake, VA
29           Old Bridge, NJ
...                     ...
2408             Wesson, MS
2409           Ranburne, AL
2410        Asbury Park, NJ
2411      Ross Township, PA
2412         Port Allen, LA
2413           Hartford, CT
2414      Three Springs, PA
2415           Sun City, SC
2416       Boyton Beach, FL
2417        Stroudsburg, PA
2418     Council Bluffs, IA
2419     Jackson County, KY
2420         Charlottte, NC
2421             Revere, MA
2422      Safety Harbor, FL
2423         Hanceville, AL
2424         Aliceville, CA
2425             Lowell, AR
2426          Irvington, NJ
2427  Pocahontas County, WV
2428              Rifle, CO
2429    Shaler Township, PA
2430         Moss Point, MS
2431     Bradley County, TN
2432    Randolph County, NC
2433            Chetopa, KS
2434             Belton, SC
2435     Spokane Valley, WA
2436        Springville, IN
2437          Caledonia, WI

[2438 rows x 1 columns]

Rename column

In [34]:
locations = locations.rename({0: "location"}, axis = 1)

In [36]:
locations.head()

            location
0        Shelton, WA
1          Aloha, OR
2        Wichita, KS
3  San Francisco, CA
4          Evans, CO

Export dataframe as input .csv for geocoding script; output will be 'fatalities_geocoded.csv'

In [7]:
locations.to_csv('locations.csv')

In [55]:
# importing csv module
import csv
import requests
import time

GOOGLE_MAPS_API_URL = 'https://maps.googleapis.com/maps/api/geocode/json?key=[YOUR API KEY HERE]'

infile = "locations.csv"
outfile = "fatalities_geocoded.csv"
rows = []

# reading csv file
with open(infile, 'r') as csvfile:
    # creating a csv reader object
    csvreader = csv.reader(csvfile)

    # extracting each data row one by one
    for row in csvreader:
        rows.append(row)

    # get total number of rows
    print("Total no. of rows: %d"%(csvreader.line_num))

for row in rows:
    address = row[-1]
    print("Processing: " + address)

    params = {
                'address': address,
                'sensor': 'false',
                'region': 'USA'
            }

    # Do the request and get the response data
    req = requests.get(GOOGLE_MAPS_API_URL, params=params)
    res = req.json()

    # Use the first result
    if(len(res['results']) > 0):

        result = res['results'][0]

        geodata = dict()
        geodata['lat'] = result['geometry']['location']['lat']
        geodata['lng'] = result['geometry']['location']['lng']

        # check if the coordinates were found
        if(geodata['lat'] is not None and geodata['lng'] is not None):
            row.append(geodata['lat'])
            row.append(geodata['lng'])

    else:
        print("Some problems with finding the coordinates. ", res);

#     time.sleep(2)


with open(outfile, 'w') as writeFile:
    writer = csv.writer(writeFile)
    writer.writerows(rows)

csvfile.close()
writeFile.close()

Total no. of rows: 63
Processing: location
Processing: Guthrie, OK
Processing: Burlington, IA
Processing: Columbus, OH
Processing: New Orleans, LA
Processing: South Gate, CA
Processing: Albuquerque, NM
Processing: Jourdanton, TX
Processing: Old Bridge, NJ
Processing: Fort Worth, TX
Processing: Hemet, CA
Processing: Austin, TX
Processing: Phoenix, AZ
Processing: Stillwater, OK
Processing: Tempe, AZ
Processing: Smyrna, ME
Processing: Kansas City, KS
Processing: Tarboro, NC
Processing: Medford, OR
Processing: Dublin, NC
Processing: Glendale, AZ
Processing: Harmony, IN
Processing: Islip, NY
Processing: Winchester, VA
Processing: Wilmore, KY
Processing: Sidney, NE
Processing: Kings County, CA
Processing: Marion, IL
Processing: Ft. Lauderdale, FL
Processing: Byram, NJ
Processing: Olivehurst, CA
Processing: Fort Collins, CO
Processing: Roswell, NM
Processing: Nitro, WV
Processing: Boerne, TX
Processing: West Chester, PA
Processing: Cushing, OK
Processing: Artesia, NM
Processing: Mitchell, SD
Processing: El Monte, CA
Processing: Chalmette, LA
Processing: Niceville, FL
Processing: Beckley, WV
Processing: Kirkland, WA
Processing: Columbus, MS
Processing: Colorado Springs, CO
Processing: Hutchinson, MN
Processing: Marksville, LA
Processing: Hominy, OK
Processing: Brighton, CO
Processing: Arlington, GA
Processing: Norwalk, CA
Processing: Mount Washington, PA
Processing: Marina, CA
Processing: Mount Hope, WV
Processing: Kent, OH
Processing: Porterville, CA
Processing: Rising Sun, MD
Processing: Hurst, IL
Processing: Phenix City, AL
Processing: Barrow, AK
Processing: Maiden, NC
Processing: Roanoke, VA

I fixed column headers in the .csv files manually in order to quickly join the two dataframes. The only reason I even had to join dataframes is because of Google API errors during geocoding (62 of them, evidently).

In [53]:
non_geocoded_data = non_geocoded_data.drop(["latitude", "longitude"], axis = 1)

In [54]:
non_geocoded_data.to_csv('non_geocoded_data.csv')

In [69]:
re_geocoded_data = pd.read_csv('re_geocoded_data.csv')

In [65]:
test = geocoded_data.append(re_geocoded_data)

In [72]:
test = pd.concat([geocoded_data, re_geocoded_data])

In [74]:
len(test)

2438

In [90]:
test.to_csv('master_data.csv')

In [92]:
len(df[df.state=='AK'])

31

In [229]:
geocoded_without_counts = pd.read_csv('static/data/master_data.csv')

In [230]:
geocoded_without_counts = geocoded_without_counts.sort_values(by = 'location', ascending = True)

In [189]:
df = pd.read_csv('static/data/data.csv')

In [191]:
df = df.sort_values(by = 'location', ascending = True)

In [197]:
counts = pd.Series(df['location'].value_counts())

In [198]:
counts = pd.DataFrame(counts)

In [200]:
counts = counts.reset_index()

In [214]:
counts = counts.rename(columns = {'index' : 'location', 'location' : 'fatality_count'})

In [216]:
counts = counts.sort_values(by = 'location', ascending = True)

In [220]:
geocoded_without_counts['fatality_count'] = counts['fatality_count']

In [224]:
counts[counts['location'] == 'Los Angeles, CA']

          location  fatality_count
0  Los Angeles, CA              69

In [222]:
geocoded_without_counts[geocoded_without_counts['location'] == 'Los Angeles, CA']

    Unnamed: 0         location   latitude   longitude  fatality_count
32          40  Los Angeles, CA  34.052234 -118.243685              14

In [236]:
join = pd.merge(geocoded_without_counts, counts, on=['location'])

In [237]:
join[join.location == 'Los Angeles, CA']

      Unnamed: 0         location   latitude   longitude  fatality_count
1266          40  Los Angeles, CA  34.052234 -118.243685              69

In [239]:
join = join.drop('Unnamed: 0', axis = 1)

In [242]:
join.to_csv('geocoded_locations_with_fatality_counts.csv')

In [244]:
 = df[df.date.str.contains('2015')]
test = df[df.date.str.contains('2017')]      
test = df[df.date.str.contains('2017')]      
test = df[df.date.str.contains('2017')]      
test = df[df.date.str.contains('2017')]      
test = df[df.date.str.contains('2017')]

In [246]:
len(test)

986

In [247]:
df.date.unique()

array(['2017-12-26', '2017-06-02', '2018-07-28', ..., '2015-04-03',
       '2018-03-26', '2015-06-24'], dtype=object)

In [250]:
years = ['2015', '2016', '2017', '2018', '2019']
for i in years:
    date_pull = df[df.date.str.contains(i)]
    date_pull = date_pull.drop(['Unnamed: 0', 'id'], axis = 1)
    date_pull.to_csv(i+'.csv')

In [251]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4519 entries, 2928 to 252
Data columns (total 16 columns):
Unnamed: 0                 4519 non-null int64
id                         4519 non-null int64
name                       4519 non-null object
date                       4519 non-null object
manner_of_death            4519 non-null object
armed                      4271 non-null object
age                        4341 non-null float64
gender                     4515 non-null object
race                       4116 non-null object
city                       4519 non-null object
state                      4519 non-null object
signs_of_mental_illness    4519 non-null bool
threat_level               4519 non-null object
flee                       4339 non-null object
body_camera                4519 non-null bool
location                   4519 non-null object
dtypes: bool(2), float64(1), int64(2), object(11)
memory usage: 538.4+ KB

In [255]:
len(df[df.armed == 'unarmed'])

289

In [268]:
len(df[df.signs_of_mental_illness == True]) / len(df) * 100

23.58928966585528

In [259]:
df.threat_level.unique()

array(['other', 'attack', 'undetermined'], dtype=object)

In [269]:
(len(df[df.threat_level == 'other']) + len(df[df.threat_level == 'undetermined'])) / len(df) * 100

36.60101792431954

In [266]:
(len(df[df.flee == 'Not fleeing']) / len(df)) * 100

63.99645939367117

In [264]:
df.flee.unique()

array(['Other', 'Not fleeing', 'Foot', 'Car', nan], dtype=object)

In [1]:
import pandas as pd

In [2]:
fatalities = pd.read_csv('static/data/data.csv')

In [9]:
geocoded_locations = pd.read_csv('static/data/master_data.csv')

In [10]:
join = pd.merge(fatalities, geocoded_locations, on=['location'])

In [11]:
join

,Unnamed: 0_x,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera,location,Unnamed: 0_y,latitude,longitude
0,0,3,Tim Elliot,2015-01-02,shot,gun,53.0,M,A,Shelton,WA,True,attack,Not fleeing,False,"Shelton, WA",0,47.215094,-123.100707
1,1,4,Lewis Lee Lembke,2015-01-02,shot,gun,47.0,M,W,Aloha,OR,False,attack,Not fleeing,False,"Aloha, OR",1,45.494284,-122.867045
2,747,890,Phyllis Ilene Jepsen,2015-10-02,shot,knife,55.0,F,W,Aloha,OR,True,other,Not fleeing,False,"Aloha, OR",1,45.494284,-122.867045
3,2,5,John Paul Quintero,2015-01-03,shot and Tasered,unarmed,23.0,M,H,Wichita,KS,False,other,Not fleeing,False,"Wichita, KS",2,37.687176,-97.330053
4,634,765,Nicholas Garner,2015-08-22,shot,NaN,26.0,M,W,Wichita,KS,False,attack,Car,False,"Wichita, KS",2,37.687176,-97.330053
5,1647,1843,Caleb J. Douglas,2016-09-01,shot,gun,18.0,M,W,Wichita,KS,False,other,Car,True,"Wichita, KS",2,37.687176,-97.330053
6,2190,2437,Kevin C. Perry,2017-03-18,shot,gun,25.0,M,W,Wichita,KS,False,attack,Not fleeing,False,"Wichita, KS",2,37.687176,-97.330053
7,2565,2848,Jose Ortiz,2017-08-07,shot,knife,29.0,M,H,Wichita,KS,False,other,Not fleeing,False,"Wichita, KS",2,37.687176,-97.330053
8,2931,3250,Andrew Finch,2017-12-27,shot,unarmed,28.0,M,W,Wichita,KS,False,other,Not fleeing,False,"Wichita, KS",2,37.687176,-97.330053
9,3965,4374,Geoffrey Morris,2019-01-10,shot,gun and vehicle,29.0,M,W,Wichita,KS,False,attack,Car,False,"Wichita, KS",2,37.687176,-97.330053
10,4018,4424,David Michael Bosiljevac,2019-01-28,shot,toy weapon,55.0,M,W,Wichita,KS,False,attack,Not fleeing,False,"Wichita, KS",2,37.687176,-97.330053
11,4307,4738,Robert Sabater,2019-05-27,shot,gun,49.0,M,W,Wichita,KS,True,attack,Foot,False,"Wichita, KS",2,37.687176,-97.330053
12,3,8,Matthew Hoffman,2015-01-04,shot,toy weapon,32.0,M,W,San Francisco,CA,True,attack,Not fleeing,False,"San Francisco, CA",3,37.774929,-122.419415
13,142,182,Amilcar Perez-Lopez,2015-02-26,shot,knife,21.0,M,H,San Francisco,CA,False,other,Not fleeing,False,"San Francisco, CA",3,37.774929,-122.419415
14,201,221,Alice Brown,2015-03-17,shot,NaN,24.0,F,W,San Francisco,CA,True,other,Not fleeing,False,"San Francisco, CA",3,37.774929,-122.419415
15,781,922,Herbert Benitez,2015-10-15,shot,gun,27.0,M,H,San Francisco,CA,False,attack,Not fleeing,False,"San Francisco, CA",3,37.774929,-122.419415
16,855,998,Javier Lopez Garcia,2015-11-11,shot,gun,25.0,M,H,San Francisco,CA,False,attack,Not fleeing,False,"San Francisco, CA",3,37.774929,-122.419415
17,911,1052,Mario Woods,2015-12-02,shot,knife,26.0,M,B,San Francisco,CA,False,other,Not fleeing,False,"San Francisco, CA",3,37.774929,-122.419415
18,1266,1443,Luis Gongora,2016-04-07,shot,knife,45.0,M,H,San Francisco,CA,False,other,Not fleeing,False,"San Francisco, CA",3,37.774929,-122.419415
19,1365,1548,Jessica Nelson-Williams,2016-05-19,shot,unarmed,29.0,F,B,San Francisco,CA,False,other,Car,False,"San Francisco, CA",3,37.774929,-122.419415
20,1760,1970,Nicholas McWherter,2016-10-14,shot,gun,26.0,M,W,San Francisco,CA,True,attack,Not fleeing,False,"San Francisco, CA",3,37.774929,-122.419415
21,2298,2556,Nicholas Flusche,2017-05-03,shot,knife,26.0,M,W,San Francisco,CA,False,attack,Not fleeing,True,"San Francisco, CA",3,37.774929,-122.419415
22,2346,2603,John Eno,2017-05-23,shot,gun,59.0,M,W,San Francisco,CA,False,other,Not fleeing,False,"San Francisco, CA",3,37.774929,-122.419415
23,2681,2975,Damien Murray,2017-09-24,shot,gun,39.0,M,B,San Francisco,CA,False,other,Not fleeing,True,"San Francisco, CA",3,37.774929,-122.419415
24,2865,3176,Keita O'Neil,2017-12-01,shot,unarmed,42.0,M,B,San Francisco,CA,False,other,Car,True,"San Francisco, CA",3,37.774929,-122.419415
25,3143,3478,Jesus Delgado-Duarte,2018-03-06,shot,gun,19.0,M,H,San Francisco,CA,False,attack,Not fleeing,False,"San Francisco, CA",3,37.774929,-122.419415
26,3196,3534,Jehad Eid,2018-03-21,shot,gun,21.0,M,A,San Francisco,CA,False,attack,Not fleeing,False,"San Francisco, CA",3,37.774929,-122.419415
27,4,9,Michael Rodriguez,2015-01-04,shot,nail gun,39.0,M,H,Evans,CO,False,attack,Not fleeing,False,"Evans, CO",4,40.376370,-104.692187
28,1151,1312,Luke Miller,2016-02-25,shot,gun,37.0,M,W,Evans,CO,False,attack,Foot,True,"Evans, CO",4,40.376370,-104.692187
29,5,11,Kenneth Joe Brown,2015-01-04,shot,gun,18.0,M,W,Guthrie,OK,False,attack,Not fleeing,False,"Guthrie, OK",5,35.878937,-97.425319
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4489,4443,4888,Shawan F. Allen,2019-07-22,shot,gun,NaN,M,B,Wesson,MS,False,attack,NaN,False,"Wesson, MS",2408,31.701277,-90.397593
4490,4444,4893,John David Brown,2019-07-22,shot,gun,53.0,M,W,Ranburne,AL,True,attack,Not fleeing,False,"Ranburne, AL",2409,33.522889,-85.344673
4491,4445,4886,James Manzo,2019-07-23,shot,scissors,27.0,M,W,Asbury Park,NJ,True,other,Not fleeing,False,"Asbury Park, NJ",2410,40.220391,-74.012082
4492,4446,4887,Omari Thompson,2019-07-23,shot,gun,31.0,M,B,Ross Township,PA,False,attack,Not fleeing,False,"Ross Township, PA",2411,40.536772,-80.019956
4493,4448,4894,Josef Delon Richardson,2019-07-25,shot,undetermined,38.0,M,B,Port Allen,LA,False,undetermined,NaN,False,"Port Allen, LA",2412,30.447488,-91.207326
4494,4449,4896,Alphonso Zaporta,2019-07-26,shot,gun,41.0,M,H,Hartford,CT,False,attack,Car,True,"Hartford, CT",2413,41.765804,-72.673372
4495,4450,4897,Todd Messner,2019-07-26,shot,gun,49.0,M,W,Three Springs,PA,False,attack,Not fleeing,False,"Three Springs, PA",2414,40.195081,-77.983056
4496,4451,4901,Donald Williams Allamong,2019-07-26,shot,gun,56.0,M,W,Sun City,SC,True,other,Not fleeing,False,"Sun City, SC",2415,32.287299,-80.970529
4497,4453,4895,Adalberto Wolmar Rodriguez,2019-07-28,shot,gun,62.0,M,H,Boyton Beach,FL,False,attack,Not fleeing,False,"Boyton Beach, FL",2416,26.531787,-80.090547
4498,4454,4905,Larry Pettiford,2019-07-28,shot,gun,69.0,M,NaN,Stroudsburg,PA,True,attack,Not fleeing,False,"Stroudsburg, PA",2417,40.986761,-75.194625
4499,4460,4950,Troy Peterson,2019-07-31,shot,gun,NaN,M,W,Council Bluffs,IA,False,attack,Car,False,"Council Bluffs, IA",2418,41.261944,-95.860833
4500,4466,4925,David Willoughby,2019-08-01,shot,vehicle,54.0,M,NaN,Jackson County,KY,False,attack,Car,False,"Jackson County, KY",2419,37.402327,-84.016742
4501,4468,4908,Delano Williams,2019-08-02,shot,gun,55.0,M,NaN,Charlottte,NC,True,attack,Not fleeing,False,"Charlottte, NC",2420,35.227087,-80.843127
4502,4472,4915,Oscar Ventura-Gonzalez,2019-08-03,shot,gun,32.0,M,H,Revere,MA,False,attack,Car,False,"Revere, MA",2421,42.408430,-71.011995
4503,4473,4918,John Clark,2019-08-03,shot,gun,35.0,M,NaN,Safety Harbor,FL,False,attack,Car,False,"Safety Harbor, FL",2422,27.990853,-82.693155
4504,4477,4909,Robert Clay Wilsford,2019-08-04,shot,gun,65.0,M,NaN,Hanceville,AL,True,attack,Not fleeing,False,"Hanceville, AL",2423,34.060654,-86.767498
4505,4478,4948,Marvin Urbina,2019-08-04,shot,undetermined,19.0,M,NaN,Aliceville,CA,False,other,Car,False,"Aliceville, CA",2424,33.129568,-88.151417
4506,4482,4947,Derrick Davidson,2019-08-05,shot,undetermined,56.0,M,NaN,Lowell,AR,True,undetermined,Not fleeing,False,"Lowell, AR",2425,36.255354,-94.130759
4507,4483,4953,Kaizen Crossen,2019-08-05,shot,gun,39.0,M,B,Irvington,NJ,False,attack,Not fleeing,False,"Irvington, NJ",2426,40.726325,-74.228643
4508,4484,4954,William Biggs,2019-08-05,shot,gun,43.0,M,NaN,Pocahontas County,WV,False,attack,Car,False,"Pocahontas County, WV",2427,38.310171,-80.008775
4509,4485,4955,Allan George,2019-08-05,shot,gun,57.0,M,NaN,Rifle,CO,False,other,Not fleeing,False,"Rifle, CO",2428,39.534702,-107.783120
4510,4486,4936,Donald Babbit,2019-08-06,shot,gun,49.0,M,W,Shaler Township,PA,False,attack,Not fleeing,False,"Shaler Township, PA",2429,40.530918,-79.952845
4511,4488,4930,Toussaint Diamon Sims,2019-08-08,shot,gun,27.0,M,B,Moss Point,MS,False,attack,Foot,True,"Moss Point, MS",2430,30.411588,-88.534460
4512,4494,4929,Manuel Charles Carter,2019-08-10,shot,knife,57.0,M,NaN,Bradley County,TN,False,attack,Not fleeing,False,"Bradley County, TN",2431,35.193778,-84.856793
4513,4497,4944,Cole Steele Jessup,2019-08-12,shot,vehicle,20.0,M,W,Randolph County,NC,False,attack,Other,False,"Randolph County, NC",2432,35.744953,-79.829674
4514,4499,4949,Scott Souders,2019-08-12,shot,gun,38.0,M,NaN,Chetopa,KS,False,attack,Not fleeing,False,"Chetopa, KS",2433,37.037292,-95.089961
4515,4504,4946,Thomas Michael Reynolds,2019-08-14,shot,gun,37.0,M,NaN,Belton,SC,False,other,Not fleeing,False,"Belton, SC",2434,34.522888,-82.494295
4516,4507,4967,TK TK,2019-08-16,shot,gun,NaN,M,NaN,Spokane Valley,WA,False,attack,Car,False,"Spokane Valley, WA",2435,47.673228,-117.239375
4517,4510,4962,Mike Parsley,2019-08-17,shot,gun,62.0,M,W,Springville,IN,False,undetermined,Not fleeing,False,"Springville, IN",2436,38.936160,-86.619442
4518,4515,4971,Jared R. Nelson,2019-08-18,shot,sharp object,38.0,M,NaN,Caledonia,WI,False,attack,Not fleeing,False,"Caledonia, WI",2437,42.807796,-87.924248

In [12]:
join.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4519 entries, 0 to 4518
Data columns (total 19 columns):
Unnamed: 0_x               4519 non-null int64
id                         4519 non-null int64
name                       4519 non-null object
date                       4519 non-null object
manner_of_death            4519 non-null object
armed                      4271 non-null object
age                        4341 non-null float64
gender                     4515 non-null object
race                       4116 non-null object
city                       4519 non-null object
state                      4519 non-null object
signs_of_mental_illness    4519 non-null bool
threat_level               4519 non-null object
flee                       4339 non-null object
body_camera                4519 non-null bool
location                   4519 non-null object
Unnamed: 0_y               4519 non-null int64
latitude                   4519 non-null float64
longitude                  4519 non-null float64
dtypes: bool(2), float64(3), int64(3), object(11)
memory usage: 644.3+ KB

In [13]:
join = join.drop(['Unnamed: 0_x', 'Unnamed: 0_y', 'id'], axis = 1)

In [15]:
join.to_csv('fatalities_geocoded.csv')

In [16]:
len(join)

4519

In [17]:
len(fatalities)

4519